.pagetable tbody tr td {
	height: 20px;
	padding: 0px;
	vertical-align: middle;
}

.pagetable thead tr th {
	text-align: center;
	background-color: #eee;
	padding-left: 0px;
	padding-right: 0px;
}

.pagetable tbody tr:hover {
	outline-style: dotted;
	outline-color: invert;
	outline-width: thin;
}

.pagination > .active > a:hover {
	background-color: dimgray;
	border-color: #ddd;
}

.pagination > .active > a {
	background-color: transparent;
}

.pagination > .active > a {
	color: black;
	border-color: #ddd;
}

.pagination > li > a {
	border-color: #ddd;
}

.bstexception {
	background-color: red;
}

	.bstexception a:link {
		color: black;
	}

	.bstexception td a:link {
		color: black;
	}

	.bstexception td a:visited {
		color: black;
	}

.bstdberror {
	background-color: firebrick;
}

	.bstdberror td a:link {
		color: black;
	}

	.bstdberror td a:visited {
		color: black;
	}

.bstoutputerror {
	background-color: coral;
}

.bstwarning {
	background-color: yellow;
}

.bsterror {
	background-color: deeppink;
}

.cellfilter {
	cursor: pointer;
}

.requestsignal1 {
	-webkit-animation: background1 5s cubic-bezier(1,0,0,1) infinite;
	animation: background1 5s cubic-bezier(1,0,0,1) infinite;
}

@-webkit-keyframes background1 {
	50% {background-color: red;}
	100% {background-color: black;}
}

@keyframes background1 {
	50% {background-color: red;}
	100% {background-color: black;}
}

.requestsignal2 {
	-webkit-animation: background2 5s cubic-bezier(1,0,0,1) infinite;
	animation: background2 5s cubic-bezier(1,0,0,1) infinite;
}

@-webkit-keyframes background2 {
	50% {background-color: blue;}
	100% {background-color: black;}
}

@keyframes background2 {
	50% {background-color: blue;}
	100% {background-color: black;}
}

.renderhide {
	visibility: hidden;
}
