.savebutton {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 999;
}

.data-changed {
	background: repeating-linear-gradient( -45deg, transparent, transparent 10px, lightblue 10px, lightblue 20px );
}

.intable-data-input {
	padding: 0px;
	margin: 0px;
	width: 100%;
	border: 0px;
}

@media print {
	a[href]:after {
		content: none !important;
	}
}
